<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Drive Car Rentals |Book ZoomCar & Feel Safe!zoomcar.com</title>
    <link rel="shortcut icon" href="https://www.zoomcar.com/build/img/favicon.d917d618529f3ffdf883e3b847e516df.png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/car.css">
    <link rel="stylesheet" href="/css/nav2.css">

</head>
<style>

</style>

<body>



    <%-include('partials/navbar2')%>
            <div id="main_vishal">

                <div class="left_coloum">
                    <% input_data.forEach(function (inpt) { %>

                    <div id="start_drop_location">
                        <div class="heading">

                            <img src="https://thumbs.dreamstime.com/b/tick-mark-icon-flat-illustration-check-mark-vector-tick-mark-icon-flat-illustration-check-mark-vector-164317151.jpg"
                                alt="">

                            <span>START AND DESTINATION</span>

                        </div>

                        <div id="d_p_point">
                            <div id="star_point">
                                <h5>STARTING POINT <span>></span></h5>
                                <h4 class="pick_city"> <%=inpt.pick_city%></h4>
                                <p class="p_point_car"><%=inpt.pick_location%></p>
                            </div>
                            <div id="drop_point">
                                <h5>DESTINATION<span>></span></h5>
                                <h4 class="drop_city"><%=inpt.drop_city%></h4>
                                <p class="d_point_car"><%=inpt.drop_location%></p>
                            </div>
                        </div>
                    </div>
                    <div id="date_select">
                        <div class="dates_s_e">

                            <img src="https://thumbs.dreamstime.com/b/tick-mark-icon-flat-illustration-check-mark-vector-tick-mark-icon-flat-illustration-check-mark-vector-164317151.jpg"
                                alt="">

                            <span>SELECT DATE AND TIME FOR YOUR TRIP</span>

                        </div>
                        <div id="data_flex">
                            <div id="date_start">
                                <h5 class="dat_head_h5">PICKUP TIME<span>></span></h5>
                                <div class="p_info">
                                    <div class="left_date"><%=inpt.pick_date%></div>
                                    <div class="rigth_m_t">
                                        <h6 class="p_day"><%=inpt.pick_day%></h6>
                                        <p class="s_time_date"><%=inpt.pick_time%></p>
                                    </div>
                                </div>
                            </div>
                            <div id="date_end">
                                <h5 class="dat_head_h5">DROP OFF TIME<span>></span></h5>
                                <div class="p_info">
                                    <div class="right_date"><%=inpt.drop_date%></div>
                                    <div class="rigth_m_t">
                                        <h6 class="d_day"><%=inpt.drop_day%></h6>
                                        <p class="e_time_date"><%=inpt.drop_time%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="trans_part">
                        <span>TRANSMISSION</span>
                        <div id="transimtion">
                            <div class="auto_trs" onclick="window.location.href = '/cars/automatic'">
                                <img id="img_tra" src="../Images/auto.PNG" alt="">
                                <p class="tran_p">
                                    AUTOMATIC
                                </p>
                            </div>
                            <div class="manu_trs" onclick="window.location.href = '/cars/manual'">
                                <img id="img_tra" src="../Images/manual.PNG" alt="">
                                <p class="tran_p">
                                    MANUAL
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <div class="right_coloum">
                    <div class="title">
                        <h2><svg xmlns="http://www.w3.org/2000/svg" width="12" height="19" viewBox="0 0 12 19">
                                <path fill=" rgb(238,90,87)" fill-rule="nonzero"
                                    d="M11.908 7.688a.753.753 0 0 0-.658-.38H7.579L8.246.804a.73.73 0 0 0-.5-.763.762.762 0 0 0-.877.294L.119 10.566a.714.714 0 0 0-.027.745.753.753 0 0 0 .658.381h3.671l-.667 6.505a.73.73 0 0 0 .5.762.755.755 0 0 0 .878-.295l6.75-10.23a.715.715 0 0 0 .026-.746z"
                                    </path>
                            </svg> Book Early, Book Cheaper!
                        </h2>
                    </div>


                    <div id="final">
                        <div class="sort_bar">
                            <label>Sort by:</label>
                            <div class="item" id="sortlow" onclick="window.location.href = '/cars/sorted'">
                                Price: Low to High
                            </div>
                            <div class="item" id="sort" onclick="window.location.href = '/cars/sort'">
                                Price: High to Low
                            </div>
                        </div>
                        <div class="no_fuel_cont">
                            <div class="no_fuel-block">
                                <div class="no_fuel" onclick="window.location.href = '/cars'">
                                    <div>WITHOUT FUEL</div>
                                    <div>(prices exclude fuel cost)</div>
                                </div>
                                <div class="with_fuel" onclick="window.location.href = '/cars/withfuel'">
                                    <div>WITH FUEL</div>
                                    <div>(prices include fuel cost)</div>
                                </div>
                            </div>

                            <div id="main_cont">
                                <% items.forEach(function (Product) { %>
                                    <div class="left">
                                        <img src="<%=Product.img%>" alt="">
                                    </div>
                                    <div class="middle">
                                        <h3>
                                            <%=Product.name%>
                                        </h3>
                                        <div class="seats">
                                            <div>
                                                <span>
                                                    <img src="../Images/seat.png" alt="">
                                                </span>
                                                <span>
                                                    "5 Seater"
                                                </span>
                                            </div>
                                            <div>
                                                <span>
                                                    <img src="../Images/car-.png" alt="">
                                                </span>
                                                <span>
                                                    <%=Product.drive%>
                                                </span>
                                            </div>
                                            <div>
                                                <span>
                                                    <img src="../Images/height.png" alt="">

                                                </span>
                                                <span>
                                                    <%=Product.bags%>
                                                </span>
                                            </div>
                                            <div>
                                                <span>
                                                    AGE-LIMIT:18+
                                                </span>
                                            </div>
                                        </div>
                                        <div class="pick-up">
                                            <% input_data.forEach(function (inpt) { %>
                                            <div>
                                                <p>
                                                    <%=inpt.pick_location%>
                                                </p>
                                                <h3>
                                                   1.5 km from starting point
                                                </h3>
                                            </div>
                                            <div>
                                                <p>
                                                    <%=inpt.drop_location%>
                                                </p>
                                                <h3>
                                                   1.7 km from drop point"
                                                </h3>
                                            </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h1>
                                            <%=`₹${Product.price}`%>
                                        </h1>
                                        <p>
                                            <%=Product.average%>
                                        </p>
                                        <form action="/checkout" method="POST">
                                            <input type="text" name="img" value="<%=Product.img%>" class="none">
                                            <input type="text" name="name" value="<%=Product.name%>" class="none">
                                            <input type="text" name="price" value="<%=`₹${Product.price}`%>" class="none">
                                            <button type="submit" value="submit">
                                                Book Now
                                            </button>
                                        </form>
                                    </div>
                                    <% }) %>

                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/car.js"></script>

</body>

</html>